# ----------------------------------------------------
# macOS
# ----------------------------------------------------
.DS_Store

# ----------------------------------------------------
# Xcode / Swift
# ----------------------------------------------------
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# Swift Package Manager
/.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# ----------------------------------------------------
# Node.js / Backend
# ----------------------------------------------------
server/node_modules/
server/package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------
# Environment / Secrets
# ----------------------------------------------------
.env
*.env
.env.local
.env.*.local

# ----------------------------------------------------
# Misc
# ----------------------------------------------------
*.swp
*.swo
*.tmp

